<% layout("layouts/boilerplate") %>
<div class="row mt-3" >
    <div class="col-8 offset-2">

     <h1>Edit Listing</h1>
        <form action="/listings/<%= listing._id %>?_method=PUT"
             method="POST"
              novalidate
               class="needs-validation" 
               enctype="multipart/form-data">
            <div class="mb-3">
            <label for="title">Title:</label>
            <input type="text"
             id="title"
              name="listing[title]"
               value="<%= listing.title %>"
                class="form-control"
                required />
                <div class="valid-feedback">Title looks good!</div>
            </div>
            <div class="mb-3">
            <label for="description">Description:</label>
            <textarea
             id="description"
              name="listing[description]"
               class="form-control" 
               required>
               <%= listing.description %></textarea>
               <div class="invalid-feedback">Please provide a valid description.</div>
            </div>

            <div class="mb-3">
                <label>Current Image:</label> <br  />
                <img src="<%= originalImageUrl %>">
            </div>



            <div class="mb-3">
            <label for="image">Upload new Image</label>
            <input
             type="file"
             id="image"
              name="listing[image]"
                class="form-control"
                />
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
            <label for="price">Price:</label>
            <input
             type="number"
             id="price"
              name="listing[price]"
               value="<%= listing.price %>"
                class="form-control"
                required />
                <div class="invalid-feedback">Please provide a valid price.</div>
            </div>
             <div class="mb-3 col-md-8">
            <label for="country">Country:</label>
            <input
             type="text"
             id="country"
              name="listing[country]"
               value="<%= listing.country %>"
                class="form-control"
                required />
                <div class="invalid-feedback">Please provide a valid country.</div>
            </div>

            </div>
            <div class="mb-3">
            <label for="location">Location:</label>
            <input
             type="text"
             id="location"
              name="listing[location]"
               value="<%= listing.location %>"
                class="form-control"
                required />
                <div class="invalid-feedback">Please provide a valid location.</div>
            </div>
            <button type="submit" class="btn btn-dark edit-btn mt-3">Edit</button>
        </form>
        <br>

        </div>
    </div>

